CODEOWNERS
*         @dantes-git @hernandazevedozup @LG95 @lucasaraujo @matheusribeirozup @pedropnaves @rafaelneiva @raphaelspimenta @tarcisiogc @theffc @Tiagoperes @tuliopereirazup @uziasferreirazup @victormr @ze12augusto
